@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,800;1,200;1,400&display=swap');


body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.karla {
  margin: 0;
  font-family: Karla;
  font-weight: 400;
}

h1 {
  font-family: Karla;
  font-weight: 800;
}


